<%- include ('../partials/header') %>

    <title>Profile</title>


    <link rel="stylesheet" type="text/css" href="/css/student_dashboard.css">

    <body class="overlay-scrollbar">

        <!-- navbar -->
        <%- include ('../partials/navbar.ejs') %>
            <!-- end navbar -->


            <!-- sidebar -->
            <%- include ('../partials/sidebar.ejs') %>
                <!-- end sidebar -->
                        
                <!-- main content -->
                <div class="wrapper">
                    <div class="img">
                            <img src="/uploads/Institution_logo.png" alt="User Image">
                    </div>
                        <form action= "/profile" method="POST" enctype="multipart/form-data">
                            <label for="username">User Image</label>
                                <input class="form-group" type="file" name="myImage">

                                <input type="submit" class="btn" value="Create">
                        </form>
                </div>
    </body>
    <script type="text/javascript" src="/js/student_dashboard.js"></script>
    

    <!-- end import script -->
    <%- include ('../partials/footer.ejs') %>