<style>
    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://fonts.googleapis.com/css?family=Oswald);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
 
  .custom-separator-2{
    width: 6rem;
     height: 6px;
    border-radius: 1rem;
     background: #8ac3cf;
    background: -webkit-linear-gradient(to right, #c6dfe4, #90c4df);
    background: linear-gradient(to right, #d3e0e2, #90c4df);
  }
  .benefit{
      text-align: center;
      border-radius: 4px;
    background: white;
box-shadow:  6px 6px 18px wheat,
             -6px -6px 18px wheat;
  }
  
    
  </style>
  
  <div class="container-fluid benefits_section " id="benefits_section"  style="padding-top: 15rem; padding-bottom: 10rem; min-height: 50rem;" >
    <header class="text-center mb-5 ">
      <div class="row">
        <div class="col-lg-7 mx-auto" style="margin-top: 3rem; ">
          <h1 style="font-size: 4rem; padding-bottom: 3rem;"><u> Why Us?</u></h1>
                </div>
      </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-5 benefit">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img
                    src="/img/Institution_logo.png" alt="Institution Image"
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Institution</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        All rounded benfefits.
                        Benefits and benefits and benefits
                        Lorem Ipsum  Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-5 benefit">
                <div class="bg-white rounded shadow-sm py-5 px-4 ">
                    <img
                    src="/img/Teacher_logo.png" alt="Teacher Image"
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Teachers</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        All rounded benfefits.
                        Benefits and benefits and benefits
                        Lorem Ipsum  Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-5 benefit" >
                <div class="bg-white rounded shadow-sm py-5 px-4" >
                    <img
                    src="/img/avatar.svg" alt="Student Image"
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Students</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        All rounded benfefits.
                        Benefits and benefits and benefits
                        Lorem Ipsum  Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                    </p>
                </div>
            </div>
      </div>

    
  </div>
</div>
  
  <script>
    $(".hover").mouseleave(
      function () {
        $(this).removeClass("hover");
      }
    );
  </script>