<style>
    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://fonts.googleapis.com/css?family=Oswald);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
 
  .custom-separator-2{
    width: 6rem;
     height: 6px;
    border-radius: 1rem;
     background: #8ac3cf;
    background: -webkit-linear-gradient(to right, #c6dfe4, #90c4df);
    background: linear-gradient(to right, #d3e0e2, #90c4df);
  }
  .benefit2{
      text-align: center;
      transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .benefit2:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .features_section{
    background: #ddcec9;
        background: -webkit-linear-gradient(to top right, rgb(255, 255, 255),whitesmoke);
        background: linear-gradient(to top right,  rgb(255, 255, 255), whitesmoke);
  }
  </style>
  
  <div class="container-fluid features_section " id="features_section" style="margin-top: 8rem; padding-top: 3rem; min-height: 55rem;" >
    <header class="text-center mb-5 ">
      <div class="row">
        <div class="col-lg-7 mx-auto" style="margin-top: 3rem; ">
          <h1 style="font-size: 4rem; padding-bottom: 3rem;"><u>Uniqueness</u></h1>
                </div>
      </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-5 benefit2">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <i class="fas fa-chart-bar" style="font-size: 8rem; color: rgb(213, 122, 218);"></i>
                    
                    <h5 class="mb-0">Institution</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        All rounded benfefits.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-5 benefit2">
                <div class="bg-white rounded shadow-sm py-5 px-4 ">
                    <i class="fas fa-rocket" style="font-size: 8rem; color: rgb(228, 69, 69);"></i>
                    <h5 class="mb-0">Ultra Fast</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        Faster than ever
                    </p>
                  
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5 benefit2" >
                <div class="bg-white rounded shadow-sm py-5 px-4" >
                    <i class="fas fa-child" style="font-size: 8rem; color: rgb(116, 79, 79);"></i>
                    <h5 class="mb-0">Children Friendly</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                            Very easy to use
                    </p>
                    
                   
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5 benefit2" >
                <div class="bg-white rounded shadow-sm py-5 px-4" >
                    <i class="fas fa-award" style="font-size: 8rem; color: rgb(218, 215, 51);"></i>
                    <h5 class="mb-0">Smart School</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        Let us handle all the complexity.
                    </p>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 mb-5 benefit2" >
                <div class="bg-white rounded shadow-sm py-5 px-4" >
                    <i class="fas fa-tachometer-alt" style="font-size: 8rem; color: rgb(83, 135, 204);"></i>
                    <h5 class="mb-0">Smooth working</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        Ultra Clean Dashboard
                    </p>
                </div>
            </div>


            <div class="col-xl-4 col-sm-6 mb-5 benefit2" >
                <div class="bg-white rounded shadow-sm py-5 px-4" >
                    <i class="fas fa-columns" style="font-size: 8rem;color: rgb(129, 204, 79);"></i>
                    <h5 class="mb-0">Digitalized Records</h5>
                    <div class="custom-separator-2 my-4 mx-auto bg-primary"></div>
                    <p>
                        Track every minute details with ease.
                    </p>
                </div>
            </div>
      </div>

    
  </div>
</div>
  
  <script>
    $(".hover").mouseleave(
      function () {
        $(this).removeClass("hover");
      }
    );
  </script>