<style>
    @import url('https://rsms.me/inter/inter-ui.css');

.newsletter_section{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

</style>
<div class="newsletter_section " class="container text-center">
<div class="container col-lg-8">
    <h2 class="title">SUBSCRIBE</h2>
    <p class="text">to our newsletter and get the best offers and deals. </p>
    
    <form class="form" action="#">
        <div class="form-group">
            
            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
          </div>
      <input type="submit" class="btn btn-outline-info" value="Subscribe"> 
    </form>
  </div>
</div>
