<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/dashboard" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>
                    Dashboard
                </span>
            </a> 
        </li>
        <li class="sidebar-nav-item">
            <a href="/new_class" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <span>
                    New Class
                </span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book"></i>
                </div>
                <span>All Classes </span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-university"></i>
                </div>
                <span>New Institution</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-video"></i>
                </div>
                <span>Join Meet</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-check-circle"></i>
                </div>
                <span>Test Analysis</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-chart-line"></i>
                </div>
                <span>Performance Report</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar-times"></i>
                </div>
                <span>Time Table</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book-open"></i>
                </div>
                <span>Assignments</span>
            </a>
        </li>
    </ul>
</div>