<!-- <link rel="stylesheet" type="text/css" href="/css/sidebar.css"> -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/dashboard" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>
                    Dashboard
                </span>
            </a> 
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-video"></i>
                </div>
                <span>Join Meet</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-check-circle"></i>
                </div>
                <span>Class Analysis</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book-open"></i>
                </div>
                <span>Assignments</span>
            </a>
        </li>
        <li  class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book-open"></i>
                </div>
                <span>Tests</span>
            </a>
        </li>
    </ul>
</div>