<div class="d-flex" style="border: 2px solid black;">
     
<div class="d-flex justify-content-center"><i class="fas fa-teacher"></i>Teachers </div>
<div class="d-flex justify-content-end">...</div>
<div class="d-flex justify-content-start"><%- include('graph_section') %></div>

</div>