
.sidebar {
    font-family: 'Roboto', sans-serif;
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
    box-sizing: border-box;
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background: var(--main-bg-color);
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}

.sidebar:hover {
	width: 250px;
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.sidebar-nav-item {
	width: 100%;
}

.sidebar-nav-link {
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
}

.sidebar-nav-link i {
	font-size: 1.5rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.sidebar-nav-link:hover {
	background: var(--second-bg-color);
}

.sidebar-nav-link.active {
	background: var(--second-bg-color);
	color: var(--danger-color);
}

.sidebar-nav-link.active div {
	border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
	color: var(--danger-color);
	margin-left: -5px;
}

.sidebar-expand .sidebar {
	width: 250px;
}

.sidebar-expand .wrapper {
	margin-left: 250px;
}
